<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Senha para [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Senha mudada!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Um erro!</strong> A senha não pode ser mudada.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                    A senha e a sua confirmação não coincidem.
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Senha Atual</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                           placeholder="Current password"
                           [(ngModel)]="currentPassword" required>
                    <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="currentPasswordInput.errors.required">
                                Sua senha é obrigatória.
                            
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nova Senha</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                    placeholder="New password"
                           [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.required">
                           Sua senha é obrigatória.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.minlength">
                           Sua senha é obrigatória e deverá ter mais de 4 caracteres.                            
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.maxlength">
                           Sua senha não deve ter mais de 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Nova confirmação da senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Confirm the new password"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                           Sua confirmação de senha é obrigatória.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                           Sua confirmação de senha é obrigatória e deverá ter mais de quatro caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                           Sua confirmação de senha não deve ter mais de  cinquenta caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
