<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Ativação</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Sua conta foi ativada.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">entre</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Seu usuario não pode ser ativado</strong>.
            </div>

        </div>
    </div>
</div>
