<div class="row">
    
    <div class="col-md-9">
        <h1 class="display-4">Bem Vindo à Weblioteca!</h1>
        
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Você está conectado como: "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Se desejar </span>
                <a class="alert-link" (click)="login()">cadastre-se</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Não possui conta ainda?</span>&nbsp;
                <a class="alert-link" routerLink="register">Registrar conta agora!</a>
            </div>
        </div>

    </div>
</div>
